[ req ]
prompt             = no
distinguished_name = dn
req_extensions     = req_ext
default_md         = sha256
default_bits       = 2048

[ dn ]
C  = FR
ST = Local
L  = Local
O  = MyOrg
CN = rgolfett.42.fr

[ req_ext ]
subjectAltName     = @alt_names
extendedKeyUsage   = serverAuth
keyUsage           = digitalSignature,keyEncipherment

[ alt_names ]
DNS.1 = rgolfett.42.fr
